{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}

<script>
    $(document).ready(function(){
      var date_input=$('input[name="birthdate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<form method="post" action="editpersonaldata">
  {% csrf_token %}
  <div class="mb-3">
    <label for="inputName" class="form-label">ФИО</label>
   <input id = "inputName" class="form-control" type="text" value="{{worker.name}}" aria-label="Disabled input example" disabled readonly>
  </div>
  <div class="mb-3">
    <label for="inputBirthdate" class="form-label">Дата рождения</label>
    <input class="form-control" id="inputBirthdate" name="birthdate" placeholder="MM/DD/YYY" type="text"/>
  </div>
    <div class="mb-3">
    <label for="inputAddress" class="form-label">Адрес</label>
    <input type="text" name="address" class="form-control" id="inputAddress">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Электронная почта</label>
    <input type="text" name="email" class="form-control" id="inputEmail">
  </div>
  <input class="btn btn-primary" type="submit" value="Сохранить" />
</form>

{% endblock %}