{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<form method="post" action="createworker">
  {% csrf_token %}
  <div class="mb-3">
    <label for="inputName" class="form-label">ФИО</label>
   <input id = "inputName" class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
  </div>
  <div class="mb-3">
    <label for="inputBirthdate" class="form-label">Дата рождения</label>
    <input class="form-control" id="inputBirthdate" name="date" placeholder="MM/DD/YYY" type="text"/>
  </div>
    <div class="mb-3">
    <label for="inputWorkgroup" class="form-label">Рабочая группа</label>
    <select id="inputWorkgroup" name = "workgroup" class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      {% for workgroup in workgroups %}

      <option value="{{ workgroup.name }}">{{ workgroup.name }}</option>

      {% endfor %}

     </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Добавить" />
</form>

{% endblock %}