{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}

<a class="btn btn-primary" href="{% url 'createworkgroup' %}" role="button">Добавить</a>
</br>

<table class="table table-hover">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название группы</th>
    </tr>
  </thead>
  <tbody>
  {% for workgroup in workgroups %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ workgroup.name }}</td>
          <form  method='POST' action="{% url 'deleteworkgroup' id=workgroup.id %}">
         {% csrf_token %}
         <input type=hidden name='delete' value='{{workgroup.id}}'>
         <td><button type="submit" class="btn btn-outline-danger">Удалить</button></td>
      </form>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
