{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'createworker' %}" role="button">Добавить</a>
</br>
<table class="table table-hover">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Должность</th>
      <th scope="col">Рабочая группа</th>
    </tr>
  </thead>
  <tbody>
  {% for worker in workers %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ worker.name }}</td>
      <td>{{ worker.position }}</td>
      <td>{{ worker.workgroup.name }}</td>
      <form  method='POST' action="{% url 'deleteworker' id=worker.id %}">
         {% csrf_token %}
         <input type=hidden name='delete' value='{{worker.id}}'>
         <td><button type="submit" class="btn btn-outline-danger">Удалить</button></td>
      </form>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
